rank-bm25
ddgs
duckduckgo-search
bcrypt
reportlab
openai
streamlit
ollama
mysql-connector-python

# Database
sqlalchemy

# Document Processing
pypdf
python-docx

# RAG
chromadb

# Utilities
pandas
numpy

# Environment Variables
python-dotenv